

<%= form_tag({controller: "graph", action: "line_graph"}) do %>
<%= label_tag :owner, "Owner of repository" %>
<%= text_field_tag :owner %>

<%= label_tag :repo_name, "Repository name" %>
<%= text_field_tag :repo_name %>
 

<%= radio_button_tag(:add_sub, "add_sub") %>
<%= label_tag(:add_sub, "Additions and Subtractions") %>

<%= radio_button_tag(:commit_total, "total") %>
<%= label_tag(:commit_total, "Total Commits") %>


<%= radio_button_tag(:commit_user, "per_user") %>
<%= label_tag(:commit_user, "Commits per user") %>



<%= radio_button_tag(:commit_proj, "per_proj") %>
<%= label_tag(:commit_proj, "Commits per project") %>

<%= radio_button_tag(:commit_total, "total") %>
<%= label_tag(:commit_total, "Total Commits") %>




<%= radio_button_tag(:commit_proj, "per_proj") %>
<%= label_tag(:commit_proj, "Commits per Project") %>

<%= radio_button_tag(:commit_total, "total") %>
<%= label_tag(:commit_total, "Total Commits") %>



<%= submit_tag "submit", class: "submit_button" %>
