<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head
><html>
	<body>
		<img src="images/header.png" alt="Logo">
		<table>
			<tr>
		    	<td>
 					<button type="button"><img src="images/repo.png" alt="Repo"></button>
		        </td>
				<td>
       				<button type="button"><img src="images/user.png" alt="User"></button>
       			</td>
       			<td>
					<button type="button"><img src="images/org.png" alt="Organization"></button>
    			</td>
    		</tr>
		</table>
	</body>
</html> 