<!DOCTYPE html>
<head>
 <style>
	p {
		color: blue;
	}

	</style>
</head>
<html>
<body>
  <h1>This is for Org!</h1>

	<div class = "rubyCode">

    <%= form_tag({controller: "graph", action: "index"}) do %>
    <div class="button_group" style="display: none">
      <%= label_tag :owner, "Organization" %>
      <div class="form-group"
      <%= text_field_tag :owner %>
      => <button name="Submit" type="submit">Submit</button>

      </div>
      </div>

<h1><p>owner</p></h1>
 <a href="localhost:3000/org/<p>order</p>">HTML Images</a> 

	
</body>
</html>