<h1><%= @repo_owners_names.join " vs " %></h1>
<%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
<%= line_chart (@repos.map {|r|
      {name: @repo_owners_names[@repos.index(r)], data: r.map{|c| c.date}.zip(r.map{|c| c.total})}
    })
%>
