<h1>Graph#line_graph</h1>
<%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
<%= line_chart [
    {name: 'Deletions', data: @dates.zip(@deletions), color: "#356"},
    {name: 'Additions', data: @dates.zip(@additions), color: "#935"}],
    colors: ["#bdac3d", "#b33f3d"]
    #library: {backgroundColor: "#427fa4"}
%>
