<h1><%= @repo_name %></h1>
<%= line_chart [
    {name: 'Deletions', data: @dates.zip(@deletions)},
    {name: 'Additions', data: @dates.zip(@additions)}],
    colors: ["#bdac3d", "#b33f3d"]
    #library: {chart: {backgroundColor: "#427fa4"}}
%>
