body {
    background-image: url("bg.png");
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header{
	margin-top: 30px;
}

.buttons{
	float: left;
	width: 33%;
}

input{
	margin: 40px auto;
}

.button_group{
	margin: 50px auto;
	width: 960px;
	text-align: center;
}

.toggle{
	text-align: center;
}