body {
    background-image: url("bg.png");
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:link, a:visited, a:active{
	text-decoration: none;
}

#owner{
	color:blue;
}

#highcharts-background{
	background-color: red;
}

.header{
	margin-top: 30px;
}


.buttons{
	float: left;
	width: 25%;
}

input{
	margin: 40px auto;
}

.button_group{
	margin: 50px auto;
	width: 700px;
	text-align: center;
}

.toggle{
	text-align: center;
}

.text{
	font-family: Futura;
	font-size: 16;
	margin-left: auto;
	margin-right: auto;
	color: #BDAC3D;
	width: 700px;
}