body {
    background-image: url("bgsmall.png");
}

IMG.displayed{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

IMG.displayedUser{
	display: block;
	margin-left: 0;
	margin-right: auto;
	float: left;
}

table{
	margin-left: auto;
	margin-right: auto;
}

td{
	width: 240px;	
}

/*div.usericon{
	display: block;
	float: none;
}

div.repoicon{
	display: block;
	float: left;
}

div.organizationicon{
	display:block;
	float: right;
}*/